@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(../components/images/background.jpg) ;
    background-size: cover;
}
.contact .content{
max-width: 800px;
text-align: center;

}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: black;
}
.contact .content p{

    font-weight: 300;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
position: relative;
padding: 20px 0;
display: flex;

}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(30px);
    box-shadow: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#000000;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
font-size: 500;
color: black;

}
.contactForm{
    width:40% ;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, .2);
}

.contactForm h2{
    font-size: 30px;
    color: rgb(3, 73, 119);
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
outline: none;
resize: none;
background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);


}

.contactForm .inputBox span{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color: #252424;

}

.contactForm .inputBox input:focus~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus~ span,
.contactForm .inputBox textarea:valid ~ span{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100%;
    height: 45px;
    background-color: rgb(3, 73, 119);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;

}
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }
}

